<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>face2face App</title>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
    <script  src="/socket.io/socket.io.js" defer></script>
    <script type="text/javascript" src="main.js" defer></script>
    <script>
      const ROOM_ID = '<%= roomId %>';
    </script>
  </head>
  <body>
    <div id="app" class="h-full w-full">
      <div id="gallery" class="h-full overflow-y-auto grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-x-6 gap-y-10  py-10 px-2 justify-center items-center">
      </div>
    </div>
  </body>
</html>